<a [routerLink]="['/restaurantes', detailsRestaurante.id]">
  <div class="place-info-box" [@restaurantAppeared]="restaurantState">
    <span class="place-info-box-icon"><img [src]="detailsRestaurante.imagePath" /></span>

    <div class="place-info-box-content">
      <span class="place-info-box-text">{{detailsRestaurante.name}}</span>
      <span class="place-info-box-star"><i class="fa fa-star"></i> {{detailsRestaurante.rating}}</span>
      <span class="place-info-box-detail">{{detailsRestaurante.category}}</span>
      <span class="place-info-box-detail">{{detailsRestaurante.deliveryEstimate}}</span>
    </div>
    <!-- /.info-box-content -->
  </div>
</a>